body{
  font-family: 'Gemunu Libre', sans-serif;
  margin: 0;
  padding: 0;
  background-color: springgreen;
  background: url('_img/bg.jpg');
  background-repeat: no-repeat;
  background-size: 100% 200%;
  min-width: 250px;
}

section{
  min-width: 250px;
  max-width: 500px;
  /*min-height: 250px;*/
  height: 600px;
  background-color: #363636;
  margin-left: auto;
  margin-right: auto;
  max-margin-top: 25px;
  display: grid;
  /*border-radius: 10px;*/
  
}

#form{
  /*background-color: violet;*/
  height: 45px;
  background-color: #363636; 
  padding-top: 0px;
  padding-bottom: 0px;
  width: 100%;
  display: inline-flex;
}

#toolbar{
  height: 55px;
  margin-bottom: 0px;
}

img{
  width: 35px;
  height: 35px;
  /*background-color: midnightblue;*/
}

h1{
  display: flex;
  margin-top: 0px;
  margin-left: 10px;
  margin-bottom: 0px;
  font-size: 22px;
  padding: 0px;
  /*background-color: blue;*/
}

#autor{
  background-color: inherit;
  color: whitesmoke;
  font-size: 14px;
  margin-top: 0px;
  margin-left: 55px;
  margin-bottom: 0px;
  padding: 0px;
}

span{
  height: 12px;
  /**background-color: blue;**/
  padding-top: 5px;
  padding-left: 10px;
  padding-bottom: 10px;
  display: flex;
  color: whitesmoke;
}

input{
  width: 75%;
  height: 30px;
  border-radius:25px;
  border-width: 0px;
  margin-left: auto;
  padding-bottom: 0px;
  margin-bottom: auto;
  margin-right: 0px;
  display: inline;
  /*background: transparent;*/
  color: black;
  font-family: 'Gemunu Libre', sans-serif;
  padding-left: 20px;
  font-size: 18px;
  margin: auto;
}

textarea:focus, input:focus, select:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}

#send{
  width: 22px;
  height: 22px;
  border-width: 0px;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: auto;
  margin: auto;
  display: inline;
  border-radius: 8px;
  padding: 3px;
  background-color: #25D366;
 
}

#send:hover{
  background-color: #25F334;
}

#chat{
  display: block;
  /*min-height: 300px;*/
  height: 450px;
  /*background: url('_img/wallpaper.jpg');*/
  background-color: #262626;
  background-size: 100%;
  color: whitesmoke;
  font-size: 18px;
  overflow-y: scroll;
  scroll-behavior: smooth;
}


p{
  /*width: 80%;*/
  background-color: #075E54;
  padding: 10px;
  border-radius: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
  /*display: inline-grid;*/
}

#msg1{
  width: 270px;
  /*background-color: blueviolet;*/
  margin-left: 5%;
  margin-top: 5%;
  margin-bottom: 0px;
  padding: 0px;
}

#msg2{
  width: 270px;
  /*background-color: blue;*/
  margin-top: 5px;
  margin-left: 5%;
  margin-bottom: 0px;
}

#msg3{
  /*background-color: skyblue;*/
  margin-top: 5px;
  margin-left: 5%;;
  margin-bottom: 0px;
}

#numero{
  background-color: #128C7E;
  margin-left: auto;
  margin-right: 5%;
  text-align: right;
  max-width: 120px;
}

a{
  color: #25D366;
}
a:hover{
  color: blue;
}
